.inputDnD {

  .box {
    border: .25em dashed $theme-primary;
    position: relative;
    top: .5em;
  }

  .form-control-file {
    box-shadow: 0 0 5px $theme-primary;
    cursor: pointer;
    height: 100%;
    min-height: 6em;
    outline: none;
    position: relative;
    visibility: hidden;
    width: 100%;

    &::before {
      content: attr(data-title);
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 100%;
      min-height: 6em;
      line-height: 2em;
      padding-top: 1.5em;
      opacity: 1;
      visibility: visible;
      text-align: center;
      //border: 0.25em dashed $theme-primary;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      overflow: hidden;
    }
    &:hover {
      &:before {
        border-style: solid;
        box-shadow: inset 0px 0px 0px 0.25em $theme-primary;
      }
    }
  }
}
