# enable mod_rewrite
RewriteEngine on
RewriteBase /

# inherit rules from httpd.conf
RewriteOptions Inherit

# cache images and flash content for one month
<FilesMatch ".(gif|jpg|jpeg|png|ico)$">
	Header set Cache-Control "max-age=2592000"
</FilesMatch>

# cache html and htm files for one day
<FilesMatch ".(html|htm)$">
	Header set Cache-Control "max-age=43200"
</FilesMatch>

# Disable the server signature
ServerSignature Off


# deny access to evil robots site rippers offline browsers and other nasty scum
RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule ^.* - [F,L]

# Block access to multiple file types
<IfModule mod_authz_core.c>
 <FilesMatch "\.(htaccess|htpasswd|ini|log|sh)$">
  <RequireAll>
   Require all denied
  </RequireAll>
 </FilesMatch>
</IfModule>


RedirectMatch 404 /gulpfile.js
RedirectMatch 404 /package.json
RedirectMatch 404 /composer.*
RedirectMatch 404 /node_modules/*
RedirectMatch 404 /.git/*
