<!DOCTYPE html>
<html>

<head>
  <title>ETCHamac Support</title>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>

<body style="width: 100% !important; margin: 0px; padding: 0px;">
  <style type="text/css">

    a{
      color:#f05f40;
    }

    @media only screen and (max-width:700px) {
      .logo.content {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
      .logo {
        font-size: 1rem !important;
      }
      .logo.small {
        font-size: .8rem !important;
      }

      td[class="container"] {
        padding: 5px !important;
      }
      td[class="content"],.content {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
      table {
        width: auto !important;
      }

      td img {
        max-width: 100% !important;
        height: auto !important;
      }
      td[class='copyright'] {
        font-size:.5rem;
        -webkit-text-size-adjust: 100% !important;
      }
    }
  </style>
  <div style="display:none !important" class="preheader">
    %name% has submitted a new message from the ETCHamac.com contact form. The details of the project are included. &lt;&lt; CLICK HERE TO SEE IT &gt;&gt;
  </div>
  <div id="htmlForm">
    <!--[if gte mso 9]>
      <style type="text/css">
        table,td,div,p {font-family:Helvetica Neue, Helvetica, Arial, Verdana, sans-serif !important;line-height:normal !important}
      </style>
    <![endif]-->
    <!--[if lte mso 7]>
      <style type="text/css">
        table,td,div,p {font-family:Helvetica Neue, Helvetica, Arial, Verdana, sans-serif !important;line-height:normal}
      </style>
    <![endif]-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td class="container" style="max-width: 700px; background: #f5f5f5; padding: 27px 20px 40px;" bgcolor="#f5f5f5">
          <!-- BEGIN MAIN CONTENT -->
          <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 0 auto;">
            <tr>
              <td width="100%" style="-webkit-box-shadow: 0 8px 6px -7px #cccccc; -moz-box-shadow: 0 8px 6px -7px #cccccc; box-shadow: 0 8px 6px -7px #cccccc;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0 auto; border: 1px solid #d2d2d2;">
                  <tr>
                    <td colspan="2" bgcolor="#ffffff" width="100%" height="21" style="-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;"></td>
                  </tr>
                  <tr>
                    <td align="left" bgcolor="#ffffff" >
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="logo small title content" bgcolor="#ffffff" align="left" style="padding: 20px 50px 40px;font-size:1.2rem;display: block;font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;font-weight: bold;color: rgba(117, 117, 117, 1);">
                            <!-- TODO: ADD ABSOLUTE PATH OF LOGO -->
                            <p style="margin:0;">Request for Quote</p>
                          </td>
                        </tr>
                      </table>
                    </td>

                    <td align="right" bgcolor="#ffffff" style="padding: 0 19px 0 21px;">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="logo content" bgcolor="#ffffff" align="right" height="27" style="padding: 20px 50px 40px;font-size:2rem;display: block;font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;font-weight: bold;color: rgba(117, 117, 117, 1);">
                            <!-- TODO: ADD ABSOLUTE PATH OF LOGO -->
                            <p style="margin:0;">ETCHa<span style="color: #f05f40;">mac</span><sup style="font-size: 10px;">&reg;</sup></p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="content" bgcolor="#ffffff" style="-webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 20px 50px 40px;">
                      <!-- Nested padding for body -->
                      <table>
                        <tr>
                          <td bgcolor="#ffffff" style="-webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                              <tr>
                                <td width="100%" valign="top" style="">
                                  <!--BODY COPY-->
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                                    <tr>
                                      <td style="font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif; color: #797979; font-size: 14px; line-height: 1.6em; word-wrap: break-word; margin: 0; padding: 7px 0 19px;">
                                        <!-- TEMPLATE: ADD EMAIL BODY -->
                                        <div>Hello,</div>
                                        <br>
                                        <div>You have received a new message from the ETCHamac.com quote form.</div>
                                        <div>Here are the details:</div>
                                        <br>
                                        <div>Name: %name%</div>
                                        <div>Email: <a style="color:#f05f40" href="mailto:%email%">%email%</a></div>
                                        <div>Phone: <a style="color:#f05f40" href="tel:%phone%">%phone%</a></div>
                                        <br />
                                        <div>Message:</div>
                                        <div>%message%</div>
                                        <br>
                                        <div>Procurement: %procurement%</div>
                                        <div>Project Size: %project_size%</div>
                                        <div>Project: %product_type%</div>
                                        <div>Artwork: %artwork_status%</div>
                                        <br />
                                        <br>
                                        <div>Thank you for contacting us. A member of our sales team will be in contact with you shortly. If you need immediate help please feel free to call us directly. Please reference your quote number [ %quote_number% ].</div>
                                        <br>
                                        <div>
                                          Team ETCHamac
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="color:#ccc;font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif;margin: 0 auto;">
            <tr>
              <td class="copyright" style="padding: 10px 0;font-size: .8rem;text-align:center;">Copyright &copy; 2017 ETCHamac, a division of MacMedia, Inc.</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
